* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: white;
}

/* .wrapper {
  height: 100vh;
} */

header {
  text-align: right;
  line-height: 60px;
}

header > button {
  border: none;
  padding: 3px;
  background-color: #4a4a4a;
  border-radius: 3px;
  margin: 0 5px;
  color: white;
}

.cams-container {
  min-height: calc(100vh - 60px - 100px);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.cam {
  height: 100px;
  width: 200px;
  margin: 10px;
  position: relative;
}

.cam > .muted-cam {
  position: absolute;
  bottom: 3px;
  left: 5px;
  display: inline-block;
  padding: 2px 4px;
  background-color: #5f6b78;
  opacity: 0.8;
}

footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #222222;
}

.footer-section {
  display: flex;
  align-items: center;
}

.icons {
  margin: 0 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.text-center {
  text-align: center;
}

.share {
  color: green;
}

.end {
  color: red;
  background-color: #4a4a4a;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
